body {
  margin: 0;
  height: 100vh;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F0F0;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}