.body {
  margin: 0 auto;
  max-width: 1500px;
  background-color: #F8FAFE;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 1400px;
  padding: 0 50px;
}

a:link, a:visited {
  color: #008CF0;
  text-decoration: none;
}

a:hover, a:active {
  color: #f52;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 50px;
  position: fixed;
  inset: auto 0;
  z-index: 2;
  transition: all 0.5s ease-out;
  background-color: #F8FAFE;
  border-bottom: 1px solid #081658;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 10px;
}

.logo__icon {
  height: 44px;
  padding-bottom: 10px;
}

.logo__name {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  margin: 15px 0;
}

.colortext {
  color: #F36223;
}

.header__cart {
  display: flex;
  padding-top: 16px;
}

.header__cart-link {
  display: flex;
  color: #888888 !important;
  position: relative;
}

.header__cart-count {
  display: flex;
  align-items: center;
  position: absolute;
  color: #081658;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  padding: 0 4px;
  left: calc(100% - 20px);
  top: -25px;
  border: 1px solid #081658;
  border-radius: 10px
}

.header__cart-link svg {
  position: absolute;
  top: -20px;
  left: -45px;
  width: 31px;
  height: 31px;
}

.header__cart-link:hover svg path,
.header__cart-link:hover .header__cart-title {
  fill: #F36223;
  color: #F36223;
}

.header__cart-link svg:active path {
  fill: #A93A09;
  color: #A93A09;
}

/*Main*/

.main {
  position: relative;
  top: 100px;
}

/*Breadcrumbs*/

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 8px 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #008CF0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.breadcrumbs__link:hover {
  color: #f52;
}

.breadcrumbs__link:active{
	color: #A93A09;
}

.breadcrumbs__separator {
  padding: 0 5px;
}

.gallery__name {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.gallery__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 10px;
  margin-bottom: 30px;
}

.gallery__img {
  height: 378px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 100px;
}

/*Saidbar*/

.conteiner__right {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  order: 2;
  gap: 40px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.price__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.price__cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 224px;
}

.price__cost__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0px;
}

.price__old {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.price__sell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #F36223;
  border-radius: 500px;
}

.price__new {
  font-weight: 500;
  font-size: 32px;
}

.price__like {
  width: 26px;
}

.price__like label svg {
  cursor: pointer;
}

.price__like-icon {
  position: absolute;
  opacity: 0;
  z-index: -1;
  inset: 0;
}

.price__like input:hover + label svg path {
  fill: #F36223;
}

.price__like input:active + label svg path {
  fill: #A93A09;
}

.price__like input:checked + label svg path {
  fill: #A93A09;
}


.price__delivery {
  font-weight: 400;
  font-size: 16px;
}

.price__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price__btn {
  padding: 20px 76px;
  background-color: #F36223;
  border-color: #F36223;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.price__btn::before {
  content: url(./Vector.svg);
  margin-right: 16px;
  width: 21px;
  height: 20px;
}

.price__btn:hover {
  background: #DA4A0C;
}

.price__btn:active {
  background: #A93A09;
}

/*Advertisement*/

.advert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.advert__name {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}

.advert__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.advert__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 420px;
  height: 300px;
  background: #F0F0F0;
  border: 1px dashed #888888;
}

/*Content*/

.conteiner__left {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  max-width: 880px;
  gap: 30px;
}

/*Color*/

.characteristic-color {
  display: flex;
  flex-flow: column wrap;
}

.chatacteristic-color__name {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}

.chatacteristic-color__list {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: inside;
  margin: 0;
  list-style-type: none;
}

.chatacteristic-color__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.chatacteristic-color__btn:hover {
  background: #F2F2F2;
}

.btn_selected {
  border: 2px solid #F36223;
}

.chatacteristic-color__btn:active{
	border: 2px solid #A93A09;
  border-radius: 4px;
}

/*Memory-card*/

.memory-card {
  display: flex;
  flex-flow: column wrap;
}

.memory-card__name {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}

.memory-card__list {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: inside;
}

.memory-card__btn {
  list-style-type: none;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  background: transparent;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.memory-card__btn:hover {
  background: #F2F2F2;
}

.memory-card__btn:active{
	border: 2px solid #A93A09;
  border-radius: 4px;
}

.btn_selected {
  border: 2px solid #F36223;
}

/*Specifications*/

.specifications {
  display: flex;
  flex-flow: column wrap;
}

.specifications__name {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}

.specifications__list {
  display: flex;
  flex-direction: column;
  list-style-type:none;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.specifications__list li::before {
  content: ''; 
  background-color: #888888;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  margin-right: 10px;
}

/*Description*/

.description {
  display: flex;
  flex-flow: column wrap;
}

.description__name {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}

.description__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.description__text p {
  margin: 0;
}

/*Table*/

.comparison__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-bottom: 15px;
}
.comparison__table {
  width: 100%;
  border: 1px solid #888888;
  border-collapse: collapse;
}
.comparison__table th {
  padding: 10px;
  border: 1px solid #888888;
}

.comparison__table td {
  padding: 10px;
  border-right: 1px solid #888888;
}

.comparison__table tbody tr:hover {
  background-color: #f2f2f2;
}

/*Reviews*/

.reviews {
  margin-top: 25px;
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.reviews__header-title {
  display: flex;
  gap: 10px;
}

.reviews__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
}

.reviews__count {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}

.reviews__catalog {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reviews__list {
  padding: 20px 0;
}

.reviews__list:first-child {
  padding-top: 25px;
}

.reviews__list:last-child {
  padding-bottom: 30px;
}

.reviews__separator {
  margin: 20px 0 20px 170px;
  border-bottom: 1px dashed #888888;
}

.reviews__item {
  display: flex;
}

.reviews__photo {
  margin-right: 30px;
}

.reviews__photo__img {
  max-width: 140px;
  border-radius: 50%;
}

.reviews__text {
  display: flex;
  flex-flow: column;
}

.reviews__text-name {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  color: #000000;
}

.reviews__text-raiting {
  display: flex;
  gap: 1px;
  padding: 10px 0 20px;
  margin: 0;
}

.reviews__text-experience p, b{
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.reviews__text-quality p, b{
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.reviews__text-quality {
  padding: 10px 0;
}

.reviews__text-defect p, b{
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

/*Review form*/

.feedback__wrapper {
  margin-left: 170px;
  margin-bottom: 100px;
}

.feedback__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-bottom: 15px;
}

.feedback__contact {
  display: flex;
  padding-bottom: 30px;
  gap: 40px;
}

.feedback__name {
  padding: 15px 20px;
  border: 1px solid #888888;
  width: 70%;
}

.feedback__raiting {
  padding: 15px 20px;
  border: 1px solid #888888;
  width: 30%;
}

.feedback__text {
  max-width: 710px;
  height: 190px;
  margin-bottom: 30px;
}

.feedback__comment {
  padding: 15px 20px;
  border: 1px solid #888888;
  resize: none;
  height: 80%;
  width: 94%;
  font-family: 'Inter', sans-serif;
}

.input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
}

.feedback__name:hover,
.feedback__raiting:hover,
.feedback__comment:hover
{
  border: 1px solid #000000;
  cursor: pointer;
}

.feedback__name:focus,
.feedback__raiting:focus,
.feedback__comment:focus
{
  outline: none;
}

.feedback__btn {
  padding: 10px 20px;
  background: #F36223;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

/*Footer*/

.footer {
  position: relative;
  top: 100px;
  max-width: 1500px;
  background-color: #f2f2f2;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 50px;
}

.footer__copy {
  font-size: 14px;
  padding: 30px 0;
}

.footer__copy p {
  margin: 0;
  line-height: 17px;
}

@media (max-width: 1499px) {
  .wrapper {
    max-width: 100vw;
    padding: 0 15px;
  }

  .gallery__img {
    height: 272px;
  }

  .container {
    gap: 40px;
  }

  .conteiner__right {
    max-width: 360px;
  }

  .price__cost {
    gap: 160px;
  }

  .price__btn {
    padding: 20px 46px;
  }
   
  .advert__item {
    width: 360px;
  }

  .comparison {
    display: none;
  }

  .reviews__photo__img {
    max-width: 100px;
  }

  .reviews__text-raiting__star {
    width: 20px;
  }

  .reviews__separator {
    margin-left: 130px;
  }

  .feedback__wrapper {
    margin: 0;
  }

  .feedback__comment {
    max-width: 552px; 
  }

  .feedback__btn {
   margin-bottom: 100px;
  }

  .footer {
    max-width: 100vw;
  }

  .footer__container {
    padding: 0 15px;
  }
}  